@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');


* {
  margin: 0;
  font-family:'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: hidden;
}

/***********/
/**COLORS***/
/***********/
$pastel-green: #BBEDB5;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  top: 0;
  left:0;
  z-index: 5;
  background-color: rgb(0, 0, 0, .4);
  box-shadow: 0px 0px 20px 20px rgb(0, 0, 0, .4);
}

.navbar h2 {
  margin: 10px 0px 10px;
  color: white;
}

.navbar button {
  width: 20%;
  text-align: center;
  transition: .2s;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar button:hover {
  text-shadow: 2px 2px 3px black;
}


.pricing {
  > img {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    object-fit: cover;
    z-index: -2;
  }
  > div {
    width: 80%;
    position: absolute;
    top: 50px;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;

    h1 {
      text-align: center;
      margin-top: 30px;
      background-color: #ECBEFD;
      border-radius: 15px;
      padding: 10px;
      box-shadow: 0px 0px 5px 5px #ECBEFD;
    }

    .splash-title {
      width: 200px;
      margin:auto;
    }

    .body {
      display: flex;
      flex-direction: column;
      backdrop-filter: blur(10px);
      border-radius: 15px;
      margin-top: 50px;
      font-weight: bolder;
      font-size: large;
      text-align: center;
      box-shadow: 0px 0px 5px 5px #ECBEFD;
      .title-row {
        background-color: #ECBEFD;
        padding: 10px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
      }
      .title-row2 {
        background-color: #ECBEFD;
        padding: 10px;
      }
      .row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 8px;
      }
      .row, .title-row, .title-row2, .odd {
        * {
          width: 500px;
        }
        .title-row, .title-row2 {
          padding-left: 25px;
        }
      }

      .odd {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 8px;
        background-color: rgb(236, 190, 253, .4);
      }
      .footer {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }
  }
}

.schedule {
  > img {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    object-fit: cover;
    z-index: -2;
  }

  > div {
    width: 200px;
    margin: auto;
  }

  .sign-up-form {
    margin: auto;
    display: flex;
    margin-top: 100px;
  }
}

.gallery {
  > div {
    width: 200px;
    margin: auto;
    margin-top: 80px;

  }

  h1 {
    text-align: center;
    background-color: #FFEE8A;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 0px 5px 5px #FFEE8A;
  }

  .flex-gallery {
    position: fixed;
    top: -80px;
    height: 100vh;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: scroll;
    z-index: -1;

    >div {
      margin: 0px 1000px 0px 1000px;
    }

    img {
      width: 33%;
      margin-top: 10px;
    }
  }
}