@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');


* {
  margin: 0;
  font-family:'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: hidden;
}

/***********/
/**COLORS***/
/***********/
$pastel-green: #BBEDB5;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100vw;
  top: 0;
  left:0;
  z-index: 5;
  img {
    height: 17vh;
  }
}

.navbar h2 {
  margin: 10px 0px 10px;
  color: #69443c;
}

.navbar button {
  width: 20%;
  text-align: center;
  transition: .2s;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-top: 65px;
}

.navbar button:hover {
  font-size: 18px;
}

.home {
  margin: auto;
  margin-top: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  img {
    object-fit: cover;
  }

  .text-div, .pic-div {
    width: 48vw;
  }

  .pic-div {
    img {
      height: 100%;
      width: 100%;
    object-fit: contain;
    }
  }

  .text-div {
    display: flex;
    flex-direction: row;
    >div {
      margin-top: 5%;
    }
  }

  .subtext1 {
    width: 40%;
    h1 {
      font-size: 4.5vw;
    }
  }

  .subtext2 {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 0% 10% 0% 10%;
    h2 {
      font-size: 2vw;
      font-weight: 1;
    }
    p {
      padding-top: 5%;
    }
  }
}

.pricing {
  width: 60vw;
  margin: auto;
  margin-top: 25vh;
  .price-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .price-item {
      width: 29.5vw;
      height: 10vw;
      text-align: center;
      background-color: rgb(234,224,222);
      margin-bottom: .5vw;
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: vw;
      }
    }
  }
}

.schedule {
  > img {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    object-fit: cover;
    z-index: -2;
  }

  > div {
    width: 200px;
    margin: auto;
  }

  .sign-up-form {
    margin: auto;
    display: flex;
    margin-top: 100px;
  }
}

.gallery {
  > div {
    width: 200px;
    margin: auto;
    margin-top: 80px;

  }

  h1 {
    text-align: center;
    background-color: #FFEE8A;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 0px 5px 5px #FFEE8A;
  }

  .flex-gallery {
    position: fixed;
    top: -80px;
    height: 100vh;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: scroll;
    z-index: -1;

    >div {
      margin: 0px 1000px 0px 1000px;
    }

    img {
      width: 33%;
      margin-top: 10px;
    }
  }
}